body{
	background-image: url("../image/fondo2.png");
	background-size: cover;
}
nav div ul li a{
	color: #212121 !important;
}
#googleMap {
	margin: 10px 0;
	width: 100%;
	height:500px;
	
	border-radius: 6px;
}
.cantidad{
	font-size: 80px;
	margin: 0 !important;
}
.container{
	width: 90%;
}
.tabs .indicator{
	background-color: darkgray !important;
}
.tabs li a{
	color: black !important;
}
.tabs li a:hover{
	color: gray !important;
}
.material-icons{
	vertical-align: middle;
}
.modal{
	overflow: inherit;
}