<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>MaterialDesign</title>
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/mystyle.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="js/material.min.js"></script>
</head>
<body class="black">
<header> 	
	<nav class="yellow accent-4">
		<div class="nav-wrapper container">
			<div class="row">
				<div class="col s12">
			  		<a href="#" class="brand-logo grey-text text-darken-4"><b>Apparking</b></a>
			    	<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons grey-text text-darken-4">menu</i></a>
			    	<ul class="right hide-on-med-and-down">
			    		<li><a href="parqueadero.html"><i class="material-icons left">view_quilt</i>Parqueaderos</a></li>
		    			<li><a href="usuario.html"><i class="material-icons left">supervisor_account</i>Usuarios</a></li>
				    	<li><a class="dropdown-button" href="#!" data-activates="dropdownAdmin"><i class="material-icons left">perm_identity</i>Administrador<i class="material-icons right">arrow_drop_down</i></a></li>
				  	</ul>
				  	<ul id="slide-out" class="side-nav">
				    	<li><a href="parqueadero.html"><i class="material-icons left">view_quilt</i>Parqueaderos</a></li>
		    			<li><a href="usuario.html"><i class="material-icons left">supervisor_account</i>Usuarios</a></li>
				    	<li><a href="#"><i class="material-icons left">power_settings_new</i>Salir</a></li>
				  	</ul>					  	
				  	<ul id="dropdownAdmin" class="dropdown-content">
						<li class="right-align"><a href=""><i class="material-icons left">power_settings_new</i>Salir</a></li>	
					</ul>
			  	</div>
		  	</div>
		</div>
	</nav>
</header>
<div class="container">
	<div class="row">
		<div class="col s12">
		<h3 class="white-text"><b>Panel de administración</b></h3>
			
				<div class="col s12 card-panel">	
					<div class="card-content">						
						<div class="card-tittle">
							<h4>Administrar Parqueaderos</h4>
						</div>		
						<div class="row">
						    <div class="col s12">
						      <ul class="tabs">
						        <li class="tab col s3"><a class="active" href="#crear">Crear</a></li>
						        <li class="tab col s3"><a href="#editar">Editar</a></li>
						        <li class="tab col s3"><a href="#eliminar">Eliminar</a></li>
						        <li class="tab col s3"><a href="#listar">Listar</a></li>
						      </ul>
						    </div>
						    <br>
						    <br>
						    <br>
						    <div id="crear" class="col s12">
						    	<form class="col s12" action="" method="POST">	
									<div class="row">										
										<div class="input-field col s12 m4 offset-m2">
										  <input name="nit" type="text" class="validate" required>
										  <label for="nit">NIT</label>
										</div>
										<div class="input-field col s12 m4">
										  <input name="nombre" type="text" class="validate" required>
										  <label for="nombre">Nombre</label>
										</div>
										<div class="input-field col s12 m4 offset-m2">
										  <input name="telefono" type="text" class="validate" required>
										  <label for="telefono">Teléfono</label>
										</div>
										<div class="input-field col s12 m4">
										  <input name="direccion" type="text" class="validate required">
										  <label for="direccion">Dirección</label>
										</div>
										<div class="input-field col s12 m4 offset-m2">
										  <input name="tarifa" type="password" class="validate" required>
										  <label for="tarifa">Tarifa</label>
										</div>
										<div class="input-field col s12 m4">
										  <input name="capacidad" type="text" class="validate" required>
										  <label for="capacidad">Capacidad</label>
										</div>
										<div class="input-filed col s12 m8 offset-m2">
											<label>Ubicación</label>
								  		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7886.654824563809!2d-75.87995281481865!3d8.75523288026832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1466015908990" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								  	</div>
										<div class="input-field col s12 m4 offset-m2">
										  <input name="x" type="text" class="validate" required>
										  <label for="x">Coordenada X</label>
										</div>
										<div class="input-field col s12 m4">
										  <input name="y" type="text" class="validate" required>
										  <label for="y">Coordenada Y</label>
										</div>	
										<div class="input-field col s12 m4 offset-m4">
										    <select>
										      <option value="" disabled selected>Administrador</option>
										      <option value="">Fulanito</option>
										      <option value="">Sutanito</option>
										      <option value="">Megano</option>
										    </select>
									  	</div>									
									</div>
									<input type="submit" name="entrar" value="CREAR" class="waves-effect waves-light btn grey darken-3 col s12 m2 offset-m5"/>
								</form>
						    </div>
						    <div id="editar" class="col s12">
							    <form class="col s12" action="" method="POST">	
										<div class="row">										  
							        <div class="input-field col s12 m6 offset-m3">
							          <input name="nit" type="text" class="validate" required>
											  <label for="nit">NIT</label>
							        </div>
										</div>
										<input type="submit" name="entrar" value="BUSCAR" class="waves-effect waves-light btn grey darken-3 col s12 m2 offset-m5"/>
									</form>
						    </div>
						    <div id="eliminar" class="col s12">
							    <form class="col s12" action="" method="POST">	
										<div class="row">										  
							        <div class="input-field col s12 m6 offset-m3">
							          <input name="nit" type="text" class="validate" required>
											  <label for="nit">NIT</label>
							        </div>
										</div>
										<input type="submit" name="entrar" value="ELIMINAR" class="waves-effect waves-light btn grey darken-3 col s12 m2 offset-m5"/>
									</form>
						    </div>
						    <div id="listar" class="col s12">
						    	<table class="responsive-table bordered striped">
						    		<thead>
						    			<tr>						    				
							    			<th>NIT</th>
							    			<th>Nombre</th>
							    			<th>Dirección</th>
							    			<th>Tarifa</th>
							    			<th>Telefóno</th>
							    			<th>Coordenadas</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>3234432-23</td>
						    				<td>Parquedero Principal</td>
						    				<td>Cra 41 #4-24</td>
						    				<td>$2.000</td>
						    				<td>7747857</td>
						    				<td>24,45</td>
						    			</tr>	
						    			<tr>
						    				<td>3234432-23</td>
						    				<td>Parquedero Principal</td>
						    				<td>Cra 41 #4-24</td>
						    				<td>$2.000</td>
						    				<td>7747857</td>
						    				<td>24,45</td>
						    			</tr>
						    			<tr>
						    				<td>3234432-23</td>
						    				<td>Parquedero Principal</td>
						    				<td>Cra 41 #4-24</td>
						    				<td>$2.000</td>
						    				<td>7747857</td>
						    				<td>24,45</td>
						    			</tr>
						    			<tr>
						    				<td>3234432-23</td>
						    				<td>Parquedero Principal</td>
						    				<td>Cra 41 #4-24</td>
						    				<td>$2.000</td>
						    				<td>7747857</td>
						    				<td>24,45</td>
						    			</tr>					    			
						    		</tbody>
						    	</table>
						    	<ul class="pagination center">
								    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
								    <li class="active"><a href="#!">1</a></li>
								    <li class="waves-effect"><a href="#!">2</a></li>
								    <li class="waves-effect"><a href="#!">3</a></li>
								    <li class="waves-effect"><a href="#!">4</a></li>
								    <li class="waves-effect"><a href="#!">5</a></li>
								    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
								  </ul>
						    </div>
					  	</div>				
					</div>		  
				</div>			
        
		</div>		
	</div>	
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
	$( document ).ready(function(){
		$('.button-collapse').sideNav();
		$(".dropdown-button").dropdown();   
		$('ul.tabs').tabs(); 
		$('select').material_select();    
	}); 
</script>
</body>
</html>